body{
  background-image:url("http://2.bp.blogspot.com/_FJ3yaaJMYdw/TL9NTvkat8I/AAAAAAAAEi8/eMDVnwMnA1A/s1600/IMG_1107.JPG");
  /*background-color:purple;*/
  background-size: cover;
  font-family: Fantasy;
}

.textcenter{
  text-align:center;
}

.well{

}

.blackborder{
  border: solid 1px black;
}
