body{
  background-image:url("http://2.bp.blogspot.com/_FJ3yaaJMYdw/TL9NTvkat8I/AAAAAAAAEi8/eMDVnwMnA1A/s1600/IMG_1107.JPG");
  background-size: cover;
  font-family: Fantasy;
}
.wellbg{
  background-image:url("http://2.bp.blogspot.com/_FJ3yaaJMYdw/TL9NTvkat8I/AAAAAAAAEi8/eMDVnwMnA1A/s1600/IMG_1107.JPG");
  background-size: cover;
}

.textcenter{
  text-align:center;
}

.wellgrey{
  background-color: #D3D3D3;
}

.well{
  border-radius: 20px;
}

.panel, .panel-body, .panel-heading{
  border-radius: 20px;
}

.greybackground{
  background-color:#D3D3D3;
}

.blackborder{
  border: solid 5px black;
}

.ul-left{
  text-align:left;
}

.ebmargins{
  margin-bottom:20px;
  margin-top:20px;
}

a:hover{
  color:#00b300;
}

.bg-4{
  background-color:#2f2f2f;
  color:#7FFF00;
}

.spanstuff{
  font-weight:bold;
}
